@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
html,
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Hammersmith One', sans-serif;
	background-color: #1a1a1a;
}

h1 {
	font-family: 'Hammersmith One', sans-serif;
	font-weight: 100;
	text-align: center;
	margin-bottom: 50px;
	color: whitesmoke;
}

.drag-container {
	border-radius: 50%;
	border: 2px solid whitesmoke;
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
}

.drag-interaction {
	position: relative;
	width: 150px;
	height: 150px;
}

.drag {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%) translateX(-50%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #21d40a;
}

.price-text {
	font-size: 24px;
	letter-spacing: 0.1em;
	color: #21d40a;
	font-weight: 100;
}

.price {
	font-weight: 700;
	color: whitesmoke;
}
